{% extends 'base.html' %}
{% load static %}

{% block title %}
    BOXDER
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div>
            <div id="formulario">
                <form action="/login/" method="POST" id="form-login">
                    {% csrf_token %}
                    <img src="../static/img/boxdergray.png" alt="" id="logo">

                    <h5>Bienvenido a</h5>
                    <img src="../static/img/boxdertext.png" alt="" id="logotext">

                    <i class="fas fa-id-card" id="card"></i>
                        <input type="text" name="identification_card" placeholder="Cedula" id="identification_card" autocomplete="off">
                    
                    <i class="fas fa-key" id="pass"></i>
                        <input type="password" name="password" placeholder="Contraseña" id="password">
                    
                    <div id="buttons">
                        <button type="submit" id="submit-button">Iniciar sesión</button>
                        <a href="{% url 'register' %}"><button id="register" type=button>Registrarse</button></a>
                    </div>
                </form>
                <img src="../static/img/boxderindex2.2.jpg" alt="" id="background-img">
            </div>
        </div>
    </main>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validationClient.js' %}"></script>

{% endblock %}