{% extends 'base.html' %}
{% load static %}

{% block title %}
    BOXDER
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

    <main>
        
        {% include 'navbar/navindex.html' %}
        
        <div class="principal-text">
            <h2 id="principal" >BIENVENIDO A BOXDER</h2>
            <h6 id="second" >TU ADMINISTRADOR DE ACTIVOS PREFERIDO</h6>
        </div>

        <div class="principal-buttons" id="principal-buttons">
                <a href="#"><button type="button" class="singin">Registrarse</button></a>
                <a href="#"><button type="button" class="login">Iniciar Sesión</button></a>
        </div>

    </main>
    <div id="app-explanation">
        <h5>BOXDER</h5>
        <p><span id="boxder">Boxder es </span> una aplicación que permite <br>
        gestionar los activos que entran y salen de una empresa <br>
        <span id="boxder">Boxder</span> hace que el mantener un control
        en tu empresa sea una tarea más fácil ya que él te ayuda en la labor.</p>
    </div>

    <div id="services">
        <div id="services-one">
            <div id="assets-admin-service">
                <i class="fas fa-boxes"></i>
                <p><span>Administración de activos</span> <br>
                administra tus activos de forma segura <br>
                controla todo referente al mismo</p>
            </div>
            <div id="users-admin-service">
                <i class="fas fa-user-friends"></i>
                <p><span>Administración de usuarios/empleados</span><br>
                administra y controla la información de tus empleados y cuáles activos le pertenecen y su acumulado monetario</p>
            </div>
        </div>
        <div id="services-two">
            <div id="report-admin-service">
                <i class="fas fa-file-alt"></i>
                <p><span>Reportes de activos</span><br>
                    Realice reportes del estado de sus activos <br>
                    haga consultas acerca de un activo o solicitelo
                </p>
            </div>
            
            <div id="auditory-admin-service">
                <i class="fas fa-tools"></i>
                <p><span>Auditoria general</span><br>
                    control y auditoria de de activos y de usuarios
                </p>
            </div>
        </div>
    </div>

    <div id="contact">
        <div id="social-networks">
            <div id="social-description">
                <h4>Siguenos en nuestras redes sociales</h4>
                <p><span>Boxder</span> se encuentra en algunas de las redes sociales más famosas <br>
                esto le permitirá saber más sobre nosotros, y seguir todos nuestros logros de cerca <br>
                gracias a esto podemos brindarle un mejor apoyo en cuanto a la aplicación <br>
                y evacuar las dudas que usted presente respecto al tema.</p>
            </div>
            <div id="social-icons">
                <a href="#">
                    <i class="fab fa-facebook-square" id="facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp-square" id="whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter-square" id="twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram-square" id="instagram"></i>
                </a>
            </div>
        </div>

        <div id="form-contact">

            <form action="#" method="POST" id="form">
                <h4>Envíanos un correo con tu información</h4>    
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name">

                <label for="surnames">Apellidos</label>
                <input type="text" id="surnames" name="surnames">

                <label for="phone-number">Número de teléfono</label>
                <input type="text" id="phone-number" name="phone">

                <label for="email">Correo</label>
                <input type="text" id="email" name="email">

                <label for="comment">Comentarios</label>
                <textarea name="commentary" id="commet" cols="65" rows="5"></textarea>
                
                <div id="buttons-contact">
                    <button type="submit" id="send">Enviar</button>
                    <button type="reset" id="clean">Limpiar</button>
                </div>
            </form>
        </div>
    </div>

    {% include 'footer/footer.html' %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

{% endblock %}