main div div img{
    width:100%;
    height:668px;
}

main div div form{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20px;
    padding:60px 60px; 
    left:50px;
    background-color:white;
}

main div div form label{
    color:#333333;
}
main div div form input{
    padding-left:40px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px solid gray;
    width:300px;
    font-weight: bold;
    columns: #333333;

}
main div div form #card{
    position: absolute;
    top:298px;
    left:67px;
    font-size: 20px;
    color:gray;
}
main div div form #pass{
    position: absolute;
    top:365px;
    left:67px;
    font-size: 20px;
    color:gray;
}
main div div form #cedula{
    margin-bottom:20px;
}

main div div form input:hover{
    border-bottom: 2px solid #168AF7;
    transition:ease 0.3s;
}

main div div form #buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}
main div div form #buttons #register{
    background-color:#168AF7;
    border-color: #168AF7;
}
main div div form #buttons #register:hover{
    background-color:white;
    border-color:#168AF7;
    transition: ease 0.3s;
    color:#168AF7;
}
main div div form #buttons button{
    margin:15px;
    margin-top:40px;
}

main div div form h5{
    font-size:22px;
    font-weight: bold;
    color: #168AF7;
    margin-left:10px;
}
main div div form button{
    margin-top:30px;
    background-color:#333333;
    border:2px solid #333333;
    color:white;
    padding:10px;
    font-weight: bold;
}
main div div form button:hover{
    border:2px solid #333333;
    background-color:white;
    color: #333333;
    transition: all 0.2s;
}
#logo{
    width:60px;
    height:80px;
    margin-left:115px;
    margin-bottom:30px;
}
#logotext{
    width:180px;
    height:50px;
    margin-bottom:30px;
}

main div div #form-login.active{ 

    animation-name:formLogin;
    animation-duration: 2s;

}
main div div #form-login input.active{

    animation-name: Inputs;
    animation-duration: 1s;

}
main div div #form-login i.active{
    animation-name: Icons;
    animation-duration: 1s;
}

main div div #form-login #buttons #submit-button.active{
    animation-name: buttons;
    animation-duration: 2.5s;
}

main div div #form-login #buttons #register.active{
    animation-name: buttons;
    animation-duration: 2.5s;
}
@keyframes buttons{
    0%{
        opacity:0;
        transform: translateY(150px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}
@keyframes Icons{
    0%{

        opacity:0;
        position: absolute;
        z-index: 1;
        transform: translateX(-50px);
    }

    100%{

        opacity:1;
        position: absolute;
        z-index: 1;
        transform: translateX(0px);
    }
}


@keyframes Inputs{
    from{
        opacity:0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes formLogin{ 
    from{
        opacity: 0;
        transform: translateY(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}
