#boxder-img{
    width:250px;
    margin-left:35px;
    line-height: 50px;
}
nav{
    display:flex;   
    justify-content: space-between;
    padding:30px;
    background: rgba(243, 243, 243, 0);
}
#links{
    line-height: 25px;
    margin-right:35px;
}
#links a{
    margin:15px;
    font-size:20px;
    color:white;
}
#links a:hover{
    color:lightblue;
    transition:ease-in-out 0.1s;
}

