#boxder-img{
    width:250px;
    margin-left:35px;
    line-height: 50px;
}

nav{
    display:flex;   
    justify-content: space-between;
    width:100%;
    padding:20px;
    background-color:white;
    position:fixed;
    top:0;
}
#links{
    line-height: 50px;
    margin-right:35px;
}
#links a{
    margin:15px;
    font-size:20px;
    color:#333333;
}
#links a:hover{
    color:lightblue;
    transition:ease-in-out 0.1s;
}
body{
    background-color:#168AF7;
}