section #first-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom:40px;
}

#total-assets, #functionally-assets, #low-assets, #suspended-assets{
    display:flex;   
}

#status-option{
    display:flex;
}
#status_select{
    background-color:transparent;
    border-bottom:none;
}

#update{
    background-color: #1286EE;;
    color:white;
    padding:5px 10px 5px 10px;
    border:none;
    border-radius:5px;
    margin-left:35px;

}

#info-btn{
    background-color:transparent;
    border:none;
}
#info-assets{
    font-size:20px;
    margin-left:15px;
    color:#333333;

}

#delete{
    background-color: #AC2624;
    color:white;
    padding:5px 10px 5px 10px;
    border:none;
    border-radius:5px;
    
}
#icon-target{
    color:white;
    line-height:50px;
    font-size: 40px;
    padding:35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 5px 10px lightgray;
}
#data-target{
    font-weight: bold;
    font-size:25px;
}
#total-assets #icon-target{
    background-color: #1286EE;
}
#functionally-assets #icon-target{
    background-color: #397F32;
}
#low-assets #icon-target{
    background-color: #AC2624;
}
#suspended-assets #icon-target{
    background-color: #FFD500;
    color: #333333;
}
#info{
    margin-top:5px;
    margin-right:40px;
    margin-bottom:5px;
    padding:20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:20px;
    box-shadow: 4px 5px 10px lightgray;
}
#excel-button i{
    color:green;
    font-size:30px;
}
#pdf-button i{
    color:red;
    font-size:30px;
}
#excel-button, #pdf-button {
    border:none;
    background-color:white;
}
#pdf-button {
    margin-left:20px;
}
#buttons-action{
    position:absolute;
    left:210px;
    z-index:1;
}
#charts h5{
    text-align: center;
    margin-bottom:20px;
}
#charts{
    margin:80px;
}
#header-dep{
    margin-top:20px;

    background-color: #1286EE;
    padding:15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:white;
    text-align:center;
}

#mayorCero{
    padding:7px;
    width:10px;
    height:10px;
    border-radius:100%;
    background-color: rgba(79, 168, 249, 0.8);
    margin-left:40px;
    border: 3px solid #1286EE;
}
#menorCero{
    padding:7px;
    width:10px;
    height:10px;
    border-radius:100%;
    background-color: rgba(234, 86, 84 , 0.8);
    margin-left:40px;
    border: 3px solid #AC2624;
}

#data-assets #card .row{
    text-align:center;
    margin:20px;    
}

#data-assets{
    overflow-y:scroll;
    height: 300px;
}
#card{
    height: auto;
}

#good-tag, #bad-tag{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    border-radius:5px;

}

#indications h6{
    font-weight: bold;
}

#good-tag{
    border: 3px solid #1286EE;
    background-color: rgba(79, 168, 249, 0.8);
}

#bad-tag{
    border: 3px solid #AC2624;
    background-color: rgba(234, 86, 84 , 0.8);
}

#indications{
    display:flex;
    margin:5px;
}

#depreciations{
    margin-top:80px;
    margin-bottom:40px;
}
#data-assets #card .row{
    border-bottom: 1px solid lightgray;
    padding:20px;
}


/*POPUP*/
#overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 0;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#new-asset{
    position: absolute;
    left:300px;
    z-index: 4;
}
#close-popup {
    margin-left:575px;
    line-height: 50px;
    color: white;
    cursor: pointer;
    font-size:20px;
}

#close-popup:hover{
    color: #333333;
}

#overlay.active{
    z-index: 4;
    visibility: visible;

}

#head{
    display:flex;
    background-color: #1286EE;
    margin-top:-20px;
    margin-left:-20px;
    margin-right:-20px;
    margin-bottom:10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding:5px;
}
#head h3{
    line-height: 50px;
    color: white;
    margin-left:20px;
    font-weight: bold;
}

#popup{
    margin-top:50px;
    background-color:white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding:20px;
    width: 800px;
    opacity: 0;
    border-radius: 5px;
    transform: scale(0.7);
    transition: ease-in 0.2s;

}

#popup.active{
    transition: ease-in 0.2s;
    opacity: 1;
    transform: scale(1);
}

#popup form{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

#inputs-1 {
    display:flex;
    margin:5px;
}

#inputs-2 {
    display:flex;
    margin:5px;
}

#inputs-3 {
    display:flex;
}

#inputs-4 {
    display:flex;
}

#elements {
    margin:10px;
}
#provider{
    margin-bottom:10px;
}

#inputs-1 input, #inputs-2 input, #inputs-3 input{
    border-top: none;
    border-left: none;
    border-right: none;
    padding:10px;
}

#inputs-1 label, #inputs-2 label, #inputs-3 label{
    color: #333333;
}

#inputs-4 #days, #months, #years{
    margin:5px; 
}

#util_life{
    margin-bottom:30px;
}

select{
    border-top:none;
    border-right:none;
    border-left:none;
    background-color:white; 
    border-bottom: 2px solid gray;
}
#buttons #send {
    border:none;
    background-color: #397F32;
    color:white;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius:3px;
    font-weight: bold;
    margin-right: 5px;
}
#buttons #reset {
    border:none;
    background-color: #FFD500;
    color: #333333;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius:3px;
    font-weight: bold;
    margin-left: 5px;
}
#buttons{
    margin-top:20px;
}