#regist{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

body{
    background-color: #168AF7;
}

#info-form{
    position: absolute;
    z-index: 0;
    bottom:-543px;
    right:739px;
    background-color: #0D69C1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:513px;
    width:450px;
    box-shadow: 5px 5px 20px #333333;
}

form{
    position: absolute;
    z-index: 1;
    right:150px;
    bottom:-600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 20px #333333;
}

form h4{

    padding:20px;
    color:#168AF7;
    font-weight: bold;
}

form div div{
    display: flex; 
    flex-direction: column;
    margin:10px;
}

form div div label{
    color: #333333;
    margin-left:15px;
}

form div div input{
    margin-right:15px;
    margin-left:15px;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom: 2px solid lightgray;
    padding:5px;
}

form div div select{
    margin-right:15px;
    margin-left:15px;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom: 2px solid lightgray;
    padding:5px;
    background-color:white;
}

form div div #error-text1, #error-text2, 
#error-text3, #error-text4, #error-text5, 
#error-text6, #error-text7, #error-text8{
    margin-right:15px;
    margin-left:15px;
    border:1px solid white;
    padding:0px;
}

form div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

form input:hover{
    border-bottom: 2px solid #168AF7;
    transition:ease 0.2s;
}

form div div input:hover{
    border-bottom: 2px solid #168AF7;
    transition:ease 0.2s;
}

form button{
    background-color:#333333;
    border:2px solid #333333;
    color:white;
    padding:10px;
    font-weight: bold;
    margin-bottom:20px;
}

form button:hover{

    border:2px solid #333333;
    background-color:white;
    color: #333333;
    transition: all 0.2s;
}

#boxder-img{
    padding-top:35px;
    margin-left:90px;
}

#regist #info-form p{
    text-align: center;
    font-size: 20px;
    color:white;
    margin-top:20px;
}

#back-button{
    position: absolute;
    z-index: 1;
    bottom:-300px;
    left:-5px;
    margin-left:155px;
    width: 50px;
    height:50px;
    border-radius: 25px;
    font-size:30px;
    border:none;
    color:#0D69C1;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 20px #333333;
}
#back-button:hover{
    transform: scale(1.5);
    transition: ease-out 0.5s;
}

#form-regist.active{
    animation-name: formEffect;
    animation-duration: 1.5s;
}
#back-button.active{
    opacity:0;
    animation-name: infoEffect;
    animation-delay: 1s;
    animation-duration: 2.5s;    
}
#info-form.active{
    opacity: 0;
    animation-name: infoEffect;
    animation-delay: 1s;
    animation-duration: 2.5s;
}

@keyframes formEffect{
    from{
        opacity: 0;
        transform:translateY(-350px);
    }
    to{

        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes infoEffect{
    from{
        opacity: 0;
        transform:translateX(450px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
