{% extends 'base.html' %}
{% load static %}
{% block title %}
  BOXDER
{% endblock %}
{% block head %}
  <!-- web dependencies -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

  <!-- Local style dependencies -->
  <link rel="stylesheet" href="{% static 'css/boxderIndex.css' %}">
  <script src="{% static 'lib/plugins/jquery/jquery.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'lib/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/datatables/css/dataTables.bootstrap4.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/datatables/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'lib/plugins/fontawesome5/css/all.min.css' %}">

  <!-- Local script dependencies -->
  <script src="{% static 'lib/datatables/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'lib/datatables/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/boxderindex/node_modules/chart.js/dist/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}

  <!-- Navbar -->
  <nav class="main-header sticky-top navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="{% url 'boxder' %}" class="navbar-brand">
        <img src="../static/img/boxder.png" alt="boxder logo" class="brand-image ">
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item">
            <a href="index3.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>

        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-exclamation-triangle"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>

        </li>
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
            <i class="fas fa-user-cog"></i>
          </a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="#" class="dropdown-item"><i class="fas fa-tools"></i>
              &nbsp;&nbsp;&nbsp;Configuración de usuario</a></li>
            <li>
                <a href="#" class="dropdown-item" id="close-sesion"><i class="fas fa-sign-out-alt"></i>
                  &nbsp;&nbsp;&nbsp;Cerrar sesion</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <div>
                <div class="rounded-circle pr-3 pl-3 p-2" id="letterName">
                    {{ request.session.name.0 }}
                </div>    
            </div>
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ request.session.name }} {{ request.session.surnames }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
                <a href="{% url 'boxder' %}" class="nav-link">
                  <i class="fas fa-people-carry"></i>
                  <p>
                    &nbsp;Activos
                  </p>
                </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-user-friends"></i>
              <p>
                &nbsp;Usuarios
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="fas fa-clipboard-check"></i>
              <p>
                &nbsp;Auditoría
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-address-book"></i>
                  <p>&nbsp;Registro de usuarios</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-pencil-alt"></i>
                  <p>&nbsp;Modificaciones de usuario</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-edit"></i>
                  <p>&nbsp;Modificaciones de activos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-door-open"></i>
                  <p>&nbsp;Ingresos y salidas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-archive"></i>
                  <p>&nbsp;Usuarios y activos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-times"></i>
                  <p>&nbsp;Ingresos no autorizados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-users-slash"></i>
                  <p>Usuarios suspendidos</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="far fa-building"></i>
              <p>
                &nbsp;Departamentos
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  
  <section>
    
    <article id="first-section">
        <div id="total-assets">
          <div id="icon-target"><i class="fas fa-boxes"></i></div>
          <div id="info">
            <div id="text-target">Total Activos</div>
            <div id="data-target">20</div>
          </div>
        </div>
        <div id="functionally-assets">
          <div id="icon-target"><i class="fas fa-check"></i></div>
          <div id="info">
            <div id="text-target">Funcionando</div>
            <div id="data-target">6</div>
          </div>
        </div>
        <div id="low-assets">
          <div id="icon-target"><i class="fas fa-skull-crossbones"></i></div>
          <div id="info">
            <div id="text-target">De baja</div>
            <div id="data-target">10</div>
          </div>
        </div>
        <div id="suspended-assets">
          <div id="icon-target"><i class="fas fa-toolbox"></i></div>
          <div id="info">
            <div id="text-target">Suspendidos</div>
            <div id="data-target">2</div>
          </div>
        </div>
    </article>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
          <div id="buttons-action">
            <button id="excel-button"><i class="far fa-file-excel"></i></button>
            <button id="pdf-button"><i class="far fa-file-pdf"></i></button>  
          </div>
          <thead>
        <tr role="row">
          <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Código</th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Marca</th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Modelo</th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Costo</th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Fecha ingreeso</th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Estado actual</th>
        </tr>
        </thead>

        <tbody>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.7</td>
          <td>A</td>
          <td>1</td>
        </tr>
        <tr role="row" class="odd">
          <td tabindex="0" class="sorting_1">Gecko</td>
          <td>Firefox 1.0</td>
          <td>Win 98+ / OSX.2+</td>
          <td>1.8</td>
          <td>A</td>
          <td>1</td>
        </tr>

        <button id='new-asset' class='btn btn-primary'>Nuevo Activo <i class='fas fa-plus'></i></button>
      </tbody>
      <!--
        El botón que se encuentra debajo del table
        para agregar nuevos activos se encuentra en la siguiente dirección:
        lib/datatables/js/jquery.dataTables.js en la linea 11493
        por motivos de comodidad
      -->
      </table>
    </div>
    <!-- /.card-body -->
  
  
  
  </div>
  </div>
  
  <div class="container" id="charts">
    <div class="row">
      <div class="col-sm-6">
        <h5>Estados en los activos</h5>
        <canvas id="status-chart"></canvas>
      </div>
      <div class="col-sm-6">
        <h5>Gastos semestral</h5>
        <canvas id="price-chart"></canvas>
      </div>
    </div>
  </div>
 
  <div class="container" id="depreciations">
    <h3>Depreciaciones</h3>
    <div>
      <div id="indications">
        <div id="good-tag"></div>
        <div><h6>&nbsp;&nbsp;Con valor</h6></div>
      </div>
      <div id="indications">
        <div id="bad-tag"></div>
        <div><h6>&nbsp;&nbsp;Sin valor</h6></div>
      </div>
    </div>
    <div class="row" id="header-dep">
      <div class="col-sm-2">Estado</div>
      <div class="col-sm-2">Código</div>
      <div class="col-sm-2">Precio</div>
      <div class="col-sm-2">Monto depreciable</div>
      <div class="col-sm-4">Depreciasión</div>
      
    </div>
    <div id="data-assets">
      <div id="card">
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="menorCero"></div>
          </div>
          <div class="col-sm-2">Mhp-90876</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="menorCero"></div>
          </div>
          <div class="col-sm-2">Mhp-90876</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        
        <div class="row">
          <div class="col-sm-2">
            <div id="mayorCero"></div>
          </div>
          <div class="col-sm-2">kh-45673</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div id="menorCero"></div>
          </div>
          <div class="col-sm-2">Mhp-90876</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;500</div>
          <div class="col-sm-2"><i class="fas fa-dollar-sign"></i>&nbsp;275</div>
          <div class="col-sm-4"><i class="fas fa-dollar-sign"></i>&nbsp;225</div>
        </div>
        
      </div>
    </div>
  </div>

  <div id="overlay"> <!--Abarca toda la página-->
      <div id="popup"> <!-- lo que se ocupe -->
        <i class="fas fa-times" id="close-popup"></i>
        <h3>Nuevo activo</h3>
        <form action="/registerAsset/" method="POST" id="assetForm">

          {% csrf_token %}
          <div id="inputs-1">
            <div id="elements">
              <div><label for="brand">Marca</label></div>
              <div><input type="text" id="brand" name="brand" placeholder="logitech.."></div>
            </div>
            <div id="elements">
              <div><label for="model">Modelo</label></div>
              <div><input type="text" id="model" name="model" placeholder="b-15w009la..."></div>
            </div>
          </div>

          <div id="inputs-2">
            <div id="elements">
              <div><label for="cost">Costo</label></div>
              <div><input type="text" id="cost" name="cost" placeholder="$300"></div>
            </div>
            <div id="elements">
              <div><label for="weight">Peso</label></div>
              <div><input type="text" id="weight" name="weight" placeholder="3 kg"></div>
            </div>
          </div>
          <div id="inputs-3">
            <div id="elements">
              <div><label for="provider">Proveedor</label></div>
              <div><input type="text" id="provider" name="provider" placeholder="Microsoft..."></div>
              <div><label for="util_life">Vida útil</label></div>
              <div>
                <select name="util_life" id="util_life">
                  <option value="1">1</option>
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                </select>
              <input type="checkbox" name="days" id="days" value="days">
              <label for="days">Días</label>
              <input type="checkbox" name="months" id="months" value="months">
              <label for="days">Meses</label>
              <input type="checkbox" name="years" id="years" value="years">
              <label for="days">Años</label>
            </div>
            </div>

          </div>
          <div id="buttons">
            <button type="submit" id="send">Registrar</button>
            <button type="reset" id="reset">Borrar</button>
          </div>
        </form>
      </div>
  </div>

<script type="text/javascript">
  $('#example1').DataTable({
                    responsive: true,
                    autoWidth: false
                });
</script>
<script type="text/javascript" src="{% static 'js/boxderindex/validationServer.js' %}"></script>
<!--<script type="text/javascript">
  $('#assetForm').on('submit', function(e){
    e.preventDefault();
    let dataAsset = $(this).serializeArray();
    $.ajax({
        url:"{% url 'registerasset' %}",
        type: 'POST',
        data: dataAsset,
        dataType: 'json'
    }).fail(function(jqXHR, textStatus, errorThrown){
      window.alert(textStatus+jqXHR+errorThrown);
    }).always(()=>{
      console.log(dataAsset);
    })
  });
</script>-->

{% if error %}
    <script type="text/javascript">
        dataFromServer('{{ error }}');
    </script>
{% endif %}
<script type="text/javascript" src="{% static 'js/boxderindex/boxder.js' %}"></script>
<script type="text/javascript" src="{% static 'js/boxderindex/charts.js' %}"></script>



  {% endblock %}
