{% load static %}
  <footer>
    <div id="footer-info">
      <div class="logo">
        <img src="{% static 'lib/img/boxderwhite.png' %}" alt="boxder" id="boxder-img">
      </div>
      <div class="contact">
        <h4>Contactos</h4>
          <ul>
            <li>diegoduarte8343@gmail.com</li>
            <li>+506 64832448</li>
          </ul>
      </div>
      </div>
      <hr>
      <div>
          <div id="social-icons">
              <a href="#">
                  <i class="fab fa-facebook-square" id="facebook"></i>
              </a>
              <a href="#">
                  <i class="fab fa-whatsapp-square" id="whatsapp"></i>
              </a>
              <a href="#">
                  <i class="fab fa-twitter-square" id="twitter"></i>
              </a>
              <a href="#">
                  <i class="fab fa-instagram-square" id="instagram"></i>
              </a>
          </div>
  </footer>